<div class="flex justify-content-center mt-5">
  <div class="surface-card p-5 shadow-3 border-round-xl w-full md:w-10 lg:w-7 xl:w-6">

    <!-- Encabezado -->
    <div class="text-center mb-4">
      <h2 class="text-3xl font-bold text-primary">Gestión de Tickets</h2>
      <img src="https://scontent.fuio21-1.fna.fbcdn.net/v/t39.30808-6/308482121_555680513026157_1429952193597983434_n.jpg?_nc_cat=102&ccb=1-7&_nc_sid=6ee11a&_nc_ohc=PtzRLmVhItcQ7kNvwHpZomc&_nc_oc=AdnlV6C_FIhOlgn6ExyqGJXQBS0nLGlSBvyJ4YTr9j_fRn5twvssHlcYwVxrOgtd4DY&_nc_zt=23&_nc_ht=scontent.fuio21-1.fna&_nc_gid=q22HWS0MTWMvg8G_lvOzIQ&oh=00_AfGrKHosbsASoOBN2CatRp8LwGhQMUqid36ijJ7UzMgFtg&oe=681C5CF7" alt="Logo" style="max-height: 200px; margin-top: 1rem;" />
    </div>

    <!-- Formulario con ngModel -->
    <form (ngSubmit)="enviarTicket()" #ticketForm="ngForm" class="grid formgrid">

      <div class="field col-12">
        <label for="id">Id</label>
        <input id="id" name="id" type="text" pInputText class="w-full" [(ngModel)]="ticket.id"
          placeholder="id" required />
      </div>

      <!-- Correo -->
      <div class="field col-12">
  <label for="fechaVisita">Fecha de la visita</label>
  <p-calendar
    id="fechaVisita"
    name="fechaVisita"
    [(ngModel)]="ticket.fechaVisita"
    placeholder="Selecciona la fecha"
    dateFormat="dd/mm/yy"
    showIcon="true"
    class="w-full"
    required
  ></p-calendar>
</div>

         <div class="field col-12">
  <label for="horaVisita">Hora de la visita</label>
  <p-calendar
    id="horaVisita"
    name="horaVisita"
    [(ngModel)]="ticket.horaVisita"
    placeholder="Selecciona la hora"
    timeOnly="true"
    hourFormat="24"
    showIcon="true"
    class="w-full"
    required
  ></p-calendar>
</div>


      <div class="field col-12">
        <label for="cliente">Cliente</label>
        <input id="cliente" name="cliente" type="cliente" pInputText class="w-full" [(ngModel)]="ticket.cliente"
          placeholder="cliente" required />
      </div>

      <!-- Estado -->
      <div class="field col-12">
        <label for="estado" class="font-semibold text-primary">Estado:</label>
        <select id="estado" name="estado" [(ngModel)]="ticket.status" required class="p-inputtext p-component w-full"
          style="border-radius: 1rem; padding: 0.75rem; border: 1px solid #ccc;">
          <option value="" disabled selected>Seleccione un estado</option>
          <option value="Abierto">Abierto</option>
          <option value="En Progreso">En Progreso</option>
          <option value="Cerrado">Cerrado</option>
        </select>
      </div>

      <!-- Mensaje -->
      <div class="field col-12">
        <label for="detalle">Detalle</label>
        <textarea [(ngModel)]="ticket.detalle" name="detalle" id="detalle" rows="5"
          placeholder="Escribe tu mensaje aquí" class="p-inputtext p-component w-full"
          style="border-radius: 1rem; padding: 1rem; border: 1px solid #ccc; background-color: #f9fbff;">
        </textarea>
      </div>


      <!-- Botón -->
      <div class="col-12 text-center mt-3">
        <button pButton type="submit" label="Agregar Ticket"
          class="p-button-primary p-button-rounded p-button-lg"></button>
      </div>
    </form>
  </div>
</div>